<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Mon Application</title>
</head>
<body>
  Carnet d'adresse:
  <form action="/adresse" method="POST">
    <button type="submit">Ajouter</button>
    <table class="tableau" action="/adresse" method="POST">
        <tr>
          <td>Nom</td>
          <td>Prénom</td>
          <td>Téléphone</td>
          <td>_id</td>
          <td></td>
          <td></td>
        </tr>
      <% for(var i=0; i<adresse.length; i++) {%>
        <tr class="client">
          <td contenteditable="true"><%= adresse[i].nom %></td>
          <td contenteditable="true"><%= adresse[i].prenom %></td>
          <td contenteditable="true"><%= adresse[i].telephone %></td>
          <td contenteditable="true"><%= adresse[i]._id %></td>
          <td><div id="modifier">Modifier</div></td>
          <td><a <%= "href=/detruire/"+ adresse[i]._id %> >Détruire</a></td>
        </tr>
      <% } %>
    </table>
  </form>

</body>
</html>